{% load static %}
 <header>

         <!-- header inner -->
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--  <a class="navbar-brand" href="#">Navbar</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

                        <div class="navbar navbar-expand-sm">
      <h3 style="color:#ebcc07;padding-right:70px;font-family:Fantasy;"><b>MEDICARE</b></i></h3><br>
    </div>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'DataApp:homepage' %}">HOME <span class="sr-only">(current)</span></a>
      </li>


<li class="nav-item active">
        <a class="nav-link" href="{% url 'DataApp:demo' %}">APPOINMENT <span class="sr-only">(current)</span></a>
      </li>

<li class="nav-item active">
        <a class="nav-link" href="{% url 'DataApp:display' %}">BOOKING DATA <span class="sr-only">(current)</span></a>
      </li>

<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--          Departments-->
<!--        </a>-->
<!--        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--          <a class="dropdown-item" href="{% url 'DataApp:homepage' %}">All Department</a>-->
<!--            {% for cat in links %}-->
<!--          <a class="dropdown-item" href="{{cat.get_url}}">{{cat.name}}</a>-->
<!--            {% endfor %}-->
<!--&lt;!&ndash;          <div class="dropdown-divider"></div>&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="dropdown-item" href="#">Something else here</a>&ndash;&gt;-->
<!--        </div>-->
<!--      </li>-->


       </li>
          {% if user.is_authenticated %}
            <li><b>Hai {{user.username}}</b></li>

            <li class="nav-item">
             <a class="nav-link" href="{% url 'accounts:logout' %}">LOGOUT</a>
            </li>
          {% else %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}">LOGIN</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:register' %}">REGISTER</a>
          </li>
          {% endif %}




    </ul>
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->
  </div>
</nav>
      </header>
